#ModMenu {
  padding: 1em;

  display: flex;
  align-items: center;

  @media print {
    display: none;
  }

  > *:not(:first-child) {
    margin-left: 1em;
  }

  #Title {
    padding: 0.25em;
    font-size: 1.1em;
  }

  #PrintButton {
    font-size: 1.1em;
    padding: 0.15em .5em;
  }
}