#SideBar {
  padding: 1rem 1rem var(--page-padding) var(--page-padding);
  box-sizing: border-box;
  border-right: 1px solid gray;
  position: relative;

  display: flex;
  flex-direction: column;

  .FillGap {
    flex: 1 1 auto;
  }

  * {
    box-sizing: border-box;
  }

  .Section {
    flex: 0 0 auto;

    &:not(:first-child) {
      margin-top: 1rem;
    }
    > .Label {
      font-weight: bold;
      opacity: 0.75;
    }

    .Segment {
      padding: 0.5rem 0;

      > .Label {
        font-weight: bold;
        opacity: 0.95;
      }

      > .Values {
        padding: 0.2rem 0;
        font-size: 0.9em;
        .Value {
          padding: 0.1rem 0;
          &:before {
            content: '•';
            font-weight: normal;
            margin-right: 0.2rem;
          }
        }
      }
    }
  }

  #DevelopedWithReact {
    height: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center left;
    transform: scale(0.8);

    .ReactLogo {
      height: 120%;
      width: auto;
      filter: brightness(0);
    }

  }

}