#TitleBar {
  width: 100%;
  height: fit-content;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  padding: var(--page-padding) 0.5em calc(var(--page-padding) / 3) 0.5em;

  border-bottom: 2px solid #000000A0;
  padding-top: 0.5em;

  #Name {
    font-size: 1.6em;
    font-weight: bold;
  }

  #Title {
    font-size: 1.1em;
    font-style: italic;
    padding: 0.75em;
  }

  #ContactInfo {
    display: flex;
    --gap: 3em;
    font-size: 0.9em;
    opacity: 0.8;

    .ContactInfoItem {
      display: flex;
      &:not(:first-of-type) {
        &:before {
          content: '•';
          margin: auto 0;
          width: var(--gap);
          text-align: center;
        }
      }

      .Key {
        display: none;
      }
      .Value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        white-space: pre;
      }
    }
  }
}