#App {
  min-height: 100vh;
  max-width: 100%;

  display: flex;
  flex-direction: column;

  @media print {
      max-height: 11in;
      min-height: 11in;
  }

  #Content {
    flex: 1 1 auto;

    display: flex;
    align-items: stretch;

    .Experience {
      flex: 1 1 auto;
    }

    .SideBar {
      flex: 0 0 auto;
    }
  }
}